[Unit]
Description=AG Overlay Cleanup Cron

[Service]
Type=oneshot
User=root
Group=root

Environment=APP_COMPONENT=cleanup_cron

WorkingDirectory=/home/user/ag_overlay_backend
ExecStart=/home/user/ag_overlay_backend/target/release/ag_overlay_backend
Restart=no

StandardOutput=file:/var/log/ag_overlay.log
StandardError=file:/var/log/ag_overlay.log

[Install]
WantedBy=multi-user.target